<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>all info</title>
    
    <form action="/orders/delete_all_info/?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">delete all info</button>
    </form>
</head>
<body>
    <h1>all info</h1>
   <% if (orders) { %>
    <table id="list">
      <thead>
        <tr>
          <th>#Room</th>
          <th>Name</th>
          <th>Number of<br> people</th>

          <th>Main_dish</th>
          <th>Side_dish</th>
          <th>Dessert_dish</th>
          <th>Allergies</th>
          <th>Delete</th>
          

        </tr>
      </thead>
      <tbody>
        <% orders.forEach(function(d) { %>

          <tr>
            
            <% if ( d.room_data[0]!== undefined ) { %>
            
            <td><%= d.room_data[0].room_num %></td>
            <td><%= d.room_data[0].full_name %></td>
            <td><%= d.room_data[0].num_of_people %></td>
            <td><%= d.main_dish %></td>
            <td><%= d.side_dish %></td>
            <td><%= d.dessert_dish %></td>
            <td><%= d.allergies %></td>
            <td><form action="/orders/all_info/<%= d.id %>?_method=DELETE"
              class="delete-form" method="POST">
            <button type="submit">X</button>
            </form>
            </td>
          
          </tr>
          <% } else{ %>
            <h5></h5>
           <% } %> 
          <% }); %>
          
        
        </tbody>
      </table>

   <% } else { %>
    <h1>there are not orders  yet yet</h1>
   <% } %>
    
</body>
</html>