<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>all info</title>
    
    <form action="/orders/delete_all_info/?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">delete all info</button>
    </form>
</head>
<body>
    <h1>all info</h1>
   <% if (orders) { %>
    <table id="list">
      <thead>
        <tr>
          <th># room</th>
          <th>number of<br> people</th>

          <th>main_dish</th>
          <th>side_dish</th>
          <th>dessert_dish</th>
          <th>allergies</th>
          <th>delete</th>
          

        </tr>
      </thead>
      <tbody>
        <% orders.forEach(function(d) { %>
          <tr>
            
             
            
            <td><%= d.room_data[0].room_num %></td>
            <td><%= d.room_data[0].full_name %></td>
            <td><%= d.main_dish %></td>
            <td><%= d.side_dish %></td>
            <td><%= d.dessert_dish %></td>
            <td><%= d.allergies %></td>
            <td><form action="/orders/all_info/<%= d.id %>?_method=DELETE"
              class="delete-form" method="POST">
            <button type="submit">X</button>
            </form>
            </td>
          
          </tr>
          <% }); %>
          
        
        </tbody>
      </table>

   <% } else { %>
    <h1>there are not orders yet</h1>
   <% } %>
    
</body>
</html>