<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all info</title>
    
    <form action="/orders/delete_all_info/?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">delete all info</button>
    </form>
</head>
<body>
    <h1>all info</h1>
    <table id="list">
        <thead>
          <tr>
            <th>main_dish</th>
            <th>side_dish</th>
            <th>dessert_dish</th>
            <th>room id</th>
            <th>room number</th>
            <th>name</th>
            <th>number of people</th>

          </tr>
        </thead>
        <tbody>
          <% orders.forEach(function(d) { %>
            <tr>
              <form action="/orders/all_info/<%= d.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
              <td><%= d.main_dish %></td>
              <td><%= d.side_dish %></td>
              <td><%= d.dessert_dish %></td>
              <td><%= d.allergies %></td>
              
              

              <td><%= r_num[0]._id %></td>
            <td><%= r_num[0].room_num %></td>
            <td><%= r_num[0].full_name %></td>
            <td><%= r_num[0].num_of_people %></td>
            </tr>
            <% }); %>
            
            <% orders.forEach(function(s) { %>
              <li>
                
            <% }); %>
          </tbody>
        </table>
</body>
</html>