<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>confirm</h1>
    <section id="show-page">
        <div>Room: </div>
        <div><%= r_num[0].room_num %></div>

        <div>name: </div>
        <div><%= r_num[0].full_name %></div>

        <div>amount of people: </div>
        <div><%= r_num[0].num_of_people %></div>
        <br>
        <br>
        <br>
        <div>Main: </div>
        <div><%= order.main_dish %></div>
        <br>
        <div>Side: </div>
        <div><%= order.side_dish %></div>
        <br>
        <div>Dessert: </div>
        <div><%= order.dessert_dish %></div>
        <br>
        <div>allergies/ comments for the chef: </div>
        <div><%= order.allergies %></div>
        <br>
    </section>
        


        <button><a href="/orders/<%=order._id%>/edit_order">change your order</a></button>
</body>
</html>